h1{
    color: gray;
}
img {
width: 25%;
}

.div1{

background-image: url("https://st4.depositphotos.com/37826884/41880/i/1600/depositphotos_418800952-stock-photo-online-shop-laptop-social-media.jpg"); 
background-repeat: no-repeat;
background-size: cover;
}